.mainLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 1240px;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: start;
  box-shadow: 1px 20px 1000px 0.1px;
  border-radius: 10px;
  min-width: 500px;
  height: 50vh;
}

.titleLogin {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 38px;
}


.spanErro {
    font-family: "Inter" Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: red;
}