version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ecommerce-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend:8765
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ecommerce-backend
    env_file:
      - ./backend/.env
    ports:
      - "8765:8765"
    depends_on:
      - db
    volumes:
      - ./backend:/usr/src/app
    command: sh -c "npm install && node src/seed/productsSeed.js && node server.js"

  db:
    image: mongo
    container_name: mongo_db
    restart: always
    env_file:
      - ./backend/.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
