label,
input {
  width: 400px;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
}


p , a {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
}

a{
  margin-left: 5px;
}