:root {
    --text-color: #4B5563; 
    --hover-color: #4338CA; 
    --red-color: #DC2626; 
    --shadow-color: rgba(0, 0, 0, 0.1);
    --button-primary: #28218f
}


.header-container {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px var(--shadow-color);
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #F3F4F6;
}


.header-content {
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


.header-logo {
    font-size: 1.875rem; 
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}


.nav-links {
    display: none;
    align-items: center;
    gap: 1.5rem; 
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }
}


.nav-link {
    color: var(--text-color);
    font-weight: 500; 
    text-decoration: none;
    padding: 0.5rem 0.75rem; 
    transition: color 0.2s;
}
.nav-link:hover {
    color: var(--hover-color);
}


.signup-button {
    padding: 0.625rem 1.25rem;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 0 4px 6px -1px var(--shadow-color);
    background-color: var(--button-primary)
}
.signup-button:hover {
    color: #000;
    background-color: var(--hover-color) !important; 
}

.cart-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-icon {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s;
    margin-left: 1.5rem; 
}

.cart-emoji {
    font-size: 1.8rem;
}


.cart-counter {
    position: absolute;
    top: -0.25rem; 
    right: -0.375rem;
    background-color: var(--red-color);
    color: white;
    font-size: 0.75rem; 
    font-weight: 700;
    border-radius: 9999px; 
    height: 1.25rem; 
    width: 1.25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}


.mobile-menu-button {
    display: block;
    padding: 0.5rem;
    color: var(--text-color);
    transition: color 0.2s;
    border: none;
    background: none;
    cursor: pointer;
}
.mobile-menu-button:hover {
    color: var(--hover-color);
}
@media (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }
}

.menu-icon {
    width: 1.5rem;
    height: 1.5rem;
}